body {
  font-family: monospace;
  background: #e7eaf6;
}

.dark {
  background: rgb(124, 143, 161) 83.8%;
  color: #ffe9e3;
}

h1 {
  margin: 18px 0px 10px;
  color: #3b3c36;
  font-size: 45px;
}

.dark h1 {
  color: #ffe9e3;
  background: none;
}

ul {
  padding: 0;
  list-style-type: none;
}

button {
  position: absolute;
  right: 0;
  background: #dbd8e3;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  padding: 2px 8px;
  transition: all 200ms ease-in-out;
}

button:hover {
  cursor: pointer;
  scale: 1.1;
}

.dark button {
  background: rgba(124, 143, 161) 83.8%;
  color: #ffe9e3;
  border: 1px solid #000;
}

.weather_app-wrapper {
  max-width: 800px;
  margin: 20px auto;
}

.weather_app {
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 20px 40px;
  border-radius: 5px;
  background: linear-gradient(
    to top,
    #f3e7e9 0%,
    #e3eeff 99%,
    #e3eeff 100%
  );
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);
}

.dark .weather_app {
  background: linear-gradient(
    178.6deg,
    rgb(20, 36, 50) 11.8%,
    rgb(124, 143, 161) 83.8%
  );
}

.search_bar {
  border-radius: 5px;
  border: 1px rgba(0, 0, 0, 0.2) solid;
  box-shadow: 10px 5px 10px #edb9b9;
  background: linear-gradient(
    to top,
    #f3e7e9 0%,
    #e3eeff 99%,
    #e3eeff 100%
  );
}

.dark .search_bar {
  background: linear-gradient(
    178.6deg,
    rgb(20, 36, 50) 11.8%,
    rgb(124, 143, 161) 83.8%
  );
  color: #ffe9e3;
}

.temp-details {
  margin: 15px 0px;
}

.current_day {
  color: #232b2b;
  line-height: 1.4;
  font-size: 15px;
}

.dark .current_day {
  color: #ffe9e3;
}

small {
  display: block;
  position: relative;
  top: -25px;
  left: 15px;
}

.current_weather_img {
  width: 70px;
  position: relative;
  bottom: 15px;
}

.temperature {
  font-size: 60px;
  line-height: 1;
}

.units {
  font-size: 20px;
  position: relative;
  top: -25px;
  left: 5px;
}

.additional-information {
  font-size: 14px;
}

.signature {
  font-size: 14px;
  padding-left: 10px;
  margin-top: 10px;
  position: relative;
}

.open_source_link {
  color: #8a1253;
  transition: all 200ms ease-in-out;
}

.open_source_link:hover {
  font-size: 16px;
  text-decoration: underline;
}

li:first-letter {
  text-transform: capitalize;
}

.weather-forecast {
  text-align: center;
  color: #000;
}

.dark .weather-forecast {
  color: #ffe9e3;
}

.weather-forecast-day {
  opacity: 0.7;
}

.weather-forecast-temperatures {
  font-size: 13px;
}

.weather-forecast-temperature-min {
  opacity: 0.5;
}
